{% extends 'welcome.html' %}
{%block squad%}
<div class="row">
<div class="col-2">
<div class="card ">
    <div class="card-header">Budżet {{budget}} $</div>
    <div class="card-body" style="overflow: auto; display: block; height: 700px; width: 100%;" align="center">
        <form action="{{request.path}}">
        <label for="position">Pozycja</label>
        <select name="position">
            <option value=""> --- </option>
            <option value="GK"> Bramkarz </option>
            <option value="DF"> Obrońca </option>
            <option value="MF"> Pomocnik </option>
            <option value="FW"> Napastnik </option>
        </select>
        <input type="submit" name="filter" value="Filtruj">
        </form>
        <table>
        <tr>
            <th>Imie</th>
            <th>Klub</th>
            <th>Pozycja</th>
            <th>Cena</th>
            <th>Dodaj</th>
        </tr>
        {%for item in Footballer%} 
            <tr>
                <th>{{item.name}}</th>
                <th>{{item.team.name}}</th>
                <th>{{item.position}}</th>
                <th>{{item.price}}€</th>
                <th>
                <form action="{% url 'addFootballer' %}" method = 'POST'>
                    {% csrf_token %}
                    <input type="hidden" name="footballer_id" value="{{item.id}}">
                    <input type="hidden" name="mday_id" value="{{matchdayID}}">
                    <input type="submit" name="submit" value="+">
                </form>
            </th>
            </tr>   
        {%endfor%} 
        </table>
    </div>
</div>
</div>
<div class="col-10">
<div class="card m-5">
    <div class="card-header" style="text-align: center;">Pierwszy skład </div>
    <div class="card-body" align="center">
        <div class="col-7" align="center">
            <div class="row m-4" align="center">
                    {% for item in MyFootballer%}
                    {% if item.footballer.position == "FW" and item.squad_role == "FS" %}
                    <div class="col">
                    <div class="card" style="width: 120px;">
                        <div class="card-header" align="center">{{item.footballer.name}}</div>
                        <div class="card-body" width="100px"><img src="{{item.footballer.team.logo.url}}" style="width: 100%; object-fit: cover;"></div>
                        <a type="button" class="stretched-link" id= "link" href="/transferFootballer/{{item.id}}"></a>
                    </div>
                    </div>
                    
                    {%endif%}
                    {% endfor%}
            </div>
            <div class="row m-4 align-items-center" align="center">
                {% for item in MyFootballer%}
                {% if item.footballer.position == "MF" and item.squad_role == "FS"%}
                <div class="col">
                <div class="card" style="width: 120px;">
                    <div class="card-header" align="center" style="width: 100%;">{{item.footballer.name}}</div>
                    <div class="card-body" width="100px"><img src="{{item.footballer.team.logo.url}}" style="width: 100%; object-fit: cover;"></div>
                    <a type="button" class="stretched-link" id= "link" href="/transferFootballer/{{item.id}}"></a>
                </div>
                </div>
                {%endif%}
                {% endfor%}
            </div>
            <div class="row m-4 align-items-center" align="center">
                {% for item in MyFootballer%}
                {% if item.footballer.position == "DF" and item.squad_role == "FS"%}
                <div class="col">
                <div class="card" style="width: 120px;">
                    <div class="card-header" align="center" style="width: 100%; overflow-y: auto;">{{item.footballer.name}}</div>
                    <div class="card-body" width="100px"><img src="{{item.footballer.team.logo.url}}" style="width: 100%; object-fit: cover;"></div>
                    <a type="button" class="stretched-link" id= "link" href="/transferFootballer/{{item.id}}"></a>
                </div>
                </div>
                {%endif%}
                {% endfor%}
            </div>
            <div class="row m-4 align-items-center" align="center">
                {% for item in MyFootballer%}
                {% if item.footballer.position == "GK" and item.squad_role == "FS"%}
                <div class="col">
                <div class="card" style="width: 120px;">
                    <div class="card-header" align="center" style="width: 100%;">{{item.footballer.name}}</div>
                    <div class="card-body" width="100px"><img src="{{item.footballer.team.logo.url}}" style="width: 100%; object-fit: cover;"></div>
                    <a type="button" class="stretched-link" id= "link" href="/transferFootballer/{{item.id}}"></a>
                </div>
                </div>
                {%endif%}
                {% endfor%}
            </div>
        </div>
    </div>
</div>

<div class="card m-5">
    <div class="card-header" style="text-align: center;">Ławka rezerwowych</div>
    <div class="card-body" align="center">
        <div class="col-8" align="center">
            <div class="row m-2" align="center">
                {% for item in MyFootballer%}
                {% if item.squad_role == "SUBB" %}
                <div class="col">
                <div class="card" style="width: 120px;">
                    <div class="card-header" align="center">{{item.footballer.name}}</div>
                    <div class="card-body" width="100px"><img src="{{item.footballer.team.logo.url}}" style="width: 100%; object-fit: cover;"></div>
                    <a type="button" class="stretched-link" id= "link" href="/transferFootballer/{{item.id}}"></a>
                </div>
                </div>
                {%endif%}
                {% if item.squad_role == "SUB1" %}
                <div class="col">
                <div class="card" style="width: 120px;">
                    <div class="card-header" align="center">{{item.footballer.name}}</div>
                    <div class="card-body" width="100px"><img src="{{item.footballer.team.logo.url}}" style="width: 100%; object-fit: cover;"></div>
                    <a type="button" class="stretched-link" id= "link" href="/transferFootballer/{{item.id}}"></a>
                </div>
                </div>
                {%endif%}
                {% if item.squad_role == "SUB2" %}
                <div class="col">
                <div class="card" style="width: 120px;">
                    <div class="card-header" align="center">{{item.footballer.name}}</div>
                    <div class="card-body" width="100px"><img src="{{item.footballer.team.logo.url}}" style="width: 100%; object-fit: cover;"></div>
                    <a type="button" class="stretched-link" id= "link" href="/transferFootballer/{{item.id}}"></a>
                </div>
                </div>
                {%endif%}
                {% if item.squad_role == "SUB3" %}
                <div class="col">
                <div class="card" style="width: 120px;">
                    <div class="card-header" align="center">{{item.footballer.name}}</div>
                    <div class="card-body" width="100px"><img src="{{item.footballer.team.logo.url}}" style="width: 100%; object-fit: cover;"></div>
                    <a type="button" class="stretched-link" id= "link" href="/transferFootballer/{{item.id}}"></a>
                </div>
                </div>
                {%endif%}
                {% endfor%}
        </div>
        </div>
    </div>
</div>
</div>
</div>
{%endblock%}
{%block extra_js%}
<script>

</script>
{%endblock%}